/* Estilos para el cuerpo de la página */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff; /* Fondo blanco */
  }
  
  /* Estilos para el contenedor central */
  .center-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los títulos */
  h1 {
    color: #76d7c4;
    margin-bottom: 20px;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f4d03f;
    color: #2f2f2e;
  }
  
  /* Estilos para la imagen en la tabla */
  td img {
    max-height: 50px;
    max-width: 100px;
  }
  
  /* Estilos para los botones */
  button {
    margin: 10px;
    padding: 10px 25px; /* Ajusta el ancho del botón */
    background-color: #76d7c4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f4d03f;
  }
  
  /* Estilos para los enlaces dentro de los botones */
  button a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Estilos para los enlaces dentro de los botones al pasar el cursor */
  button a:hover {
    text-decoration: underline;
  }
  