RewriteEngine On
Options All -indexes

<files error403.php|>
order allow,deny
deny from all
</files>

RewriteRule ^([a-zA-Z-9/]+)$ index.php?views=$1
ErrorDocument 403 /diiego/error403.php
ErrorDocument 404 /diiego/error403.php